<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Add Users</title>
</head>
<body>
<h2>Add New User</h2>
<form th:method="post" th:action="@{/admin/addUser}" th:object="${addUser}">
    <table border="1">
        <tr>
            <th><label for="firstName">Enter First name</label></th>
            <th><input type="text" th:field="*{firstName}" id="firstName"/></th>
        </tr>
        <tr>
            <th><label for="lastName">Enter Last name</label></th>
            <th><input type="text" th:field="*{lastName}" id="lastName"/></th>
        </tr>
        <tr>
            <th><label for="age">Enter Age</label></th>
            <th><input type="text" th:field="*{age}" id="age"/></th>
        </tr>
        <tr>
            <th><label for="email">Enter email</label></th>
            <th><input type="text" th:field="*{email}" id="email"/></th>
        </tr>
        <tr>
            <th><label for="password">Enter password</label></th>
            <th><input type="text" th:field="*{password}" id="password"/></th>
        </tr>
        <tr>
            <th><input type="submit" value="Ok"/></th>
        </tr>
        <label>Select roles:
            <span th:each="role : ${roles}">
            <input type="checkbox" name="role" th:value="${role.getId()}" th:text="${role.getRoleName()}"
                   th:field="*{roles}"/>
        </span>
        </label>
    </table>
</form>
<form th:action="@{/logout}" th:method="POST">
    <input type="submit" th:value="Logout">
</form>
</body>
</html>