<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Edit Users</title>
</head>
<body>
<h2>Edit User</h2>
<form th:method="post" th:action="@{/admin/saveEditUser}" th:object="${user}">
    <input type="hidden" th:field="*{id}" th:value="${user.id}"/>
    <table border="1">
        <tr>
            <th><label for="firstName">Enter First name</label></th>
            <th><input type="text" th:field="*{firstName}" id="firstName"/></th>
        </tr>
        <tr>
            <th><label for="lastname">Enter Last name</label></th>
            <th><input type="text" th:field="*{lastName}" id="lastname"/></th>
        </tr>
        <tr>
            <th><label for="age">Enter Age</label></th>
            <th><input type="text" th:field="*{age}" id="age"/></th>
        </tr>
        <tr>
            <th><label for="email">Enter Email</label></th>
            <th><input type="text" th:field="*{email}" id="email"/></th>
        </tr>
        <tr>
            <th><label for="password">Enter Password</label></th>
            <th><input type="text" th:field="*{password}" id="password"/></th>
        </tr>
        <tr>
            <th><input type="submit" value="Ok"/></th>
        </tr>
        <label>Select roles:</label>
        <span th:each="role : ${roles}">
    <input type="checkbox" name="roles" th:value="${role.getId()}" th:checked="${user.roles.contains(role)}"/>
    <label th:text="${role.getRoleName()}"></label>
</span>
    </table>
</form>
<form th:action="@{/logout}" th:method="POST">
    <input type="submit" th:value="Logout">
</form>
</body>
</html>